<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Detection Diary</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body class="bg-[#F3F4E6] text-gray-800 min-h-screen flex flex-col">

    <!-- Nav -->
    <nav class="text-center p-[1.5rem] flex items-center justify-between z-3">
        <div>
            <img src="../static/public/sentisize_logo 1.png" alt="logo" class="w-[6.5rem] h-[2rem] mx-auto mb-[1rem]">
        </div>
        <div class="flex justify-end flex-1 gap-[5rem] font-body text-[#325F89] text-[1.125rem] mr-[12rem]">
            <a href="#" class="transition hover:text-[#4EC3B9]">Home</a>
            <a href="/" class="transition hover:text-[#4EC3B9]">Sentiment</a>
            <a href="#" class="transition hover:text-[#4EC3B9]">About Us</a>
            <a href="#" class="text-[#FD5017] transition hover:text-[#4EC3B9]">Contact Us</a>
        </div>
    </nav>

    <!-- Main Content -->
   
        <!-- Background Images -->
        <div> 
            <img src="../static/public/upperleftyellow.png" 
                alt="wihh" 
                class="absolute top-0 left-0 w-[30rem] h-[25rem] object-full z-[-1]">
        </div>
        <div>
            <img 
                src="../static/public/aboutbottomrightvioblue.png" 
                alt="wah" 
                class="absolute bottom-[-11rem] right-0 max-w-full">
        </div>
        <div>
            <img 
                src="../static/public/aboutorangemidleft.png" 
                alt="wah" 
                class="absolute bottom-0 left-0">
        </div>

        <div class="absolute inset-0 font-title flex flex-col items-center justify-center pointer-events-none z-10 mt-[-12rem] animate-fade-up">
            <h1 class="text-[3rem] text-[#284D6F] custom-letter-spacing font-bold">
                About Us
            </h1>
            
            <p class="mt-6 text-center font-medium text-[1rem] max-w-[55rem] text-[#41627E] custom-letter-spacing">
                We help users improve emotional well-being through intelligent journaling and personalized support. 
                Our system analyzes written entries to detect emotional patterns and offers tailored advice like coping strategies 
                and mindfulness tips. Backed by research, we create a safe space for self-expression, fostering emotional clarity, 
                resilience, and mental health.
            </p>
        </div>
        

        <div>
            <img 
                src="../static/public/aboutzigzag.png"
                class="absolute inset-x-0 w-[30rem] bottom-[-4rem] mx-auto">
        </div>        
        
    
</body>
</html>
